
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.brand{
    
    font-size: 45px;
    font-weight: 700;
}

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grey-text{
    color: #424242;
}

.light-grey{
    color: #727272;
}
.display-flex{
    display: flex;
}
.navlink{
    display: flex;

}

.navbar, .banner{
    max-width: 1280px;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 30px;

}
.banner-title{
   
    font-size: 4rem;
    font-weight: 700;
}

.banner{
    text-align: center;
    
}

.nav-item a{
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
   
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.banner-image{
    width: 100%;
    height: 700px;
}

main{
    max-width: 1280px;
}

main > section{
    margin-top: 100px;
}

.our-features{
    margin-left: 73px;
    max-width: 530px;
}

.team-img-cotainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list{
    color: #727272;
    font-weight: 400;
    font-size: 2.8rem;
}

#of-our{
    color: #131313;
    font-weight: bold;
    font-size: 2.8rem;
}

#feature{
    color: #FF900E;
    font-weight: bold;
    font-size: 2.8rem;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.fact-num{
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fact-card{
    text-align: center;
    border: 1.5px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    
}

@media screen and (max-width: 576px) {
    .navbar, .navlink, .teams{
        flex-direction: column;
    }
    .team-img-cotainer{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

