
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.brand{
    
    font-size: 45px;
    font-weight: 700;
}

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grey-text{
    color: #424242;
}

.light-grey{
    color: #727272;
}
.display-flex{
    display: flex;
}
.navlink{
    display: flex;

}

.navbar, .banner{
    max-width: 1280px;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 30px;

}
.banner-title{
   
    font-size: 4rem;
    font-weight: 700;
}

.banner{
    text-align: center;
    
}

.nav-item a{
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
   
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.banner-image{
    width: 100%;
    height: 700px;
}

main{
    max-width: 1280px;
}

main > section{
    margin-top: 100px;
}

.our-features{
    margin-left: 73px;
    max-width: 530px;
}

.left-margin{
    margin-left: 20px;
}

.team-img-cotainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#feature-section-title{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    height: 106px;
    font-weight: bold;
    font-size: 45px;
}

#quick-list{
    color: #727272;
    font-weight: 400;
    font-size: 2.8rem;
}

#of-our{
    color: #131313;
    font-weight: bold;
    font-size: 2.8rem;
}

#feature{
    color: #FF900E;
    font-weight: bold;
    font-size: 2.8rem;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.fact-num{
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fact-card{
    text-align: center;
    border: 1.5px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 20px;
}

.sponsor-companies img{
    filter: grayscale(100%);
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0%;
    margin-bottom: 0;
    margin-left: 50px;
}

.feature-card{
    padding: 30px;
    margin-bottom: 20px;
}

.features{
    display: flex;
    gap: 100px;
   margin-left: 100px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.feature-image img{
    width: 100%;
} 



footer{
    background-color: #FFE7F0;
    margin-top: 130px;
    padding: 50px 200px;
    margin-bottom: 216px;
    font-size: 20px;
    margin-left: 140px;
    margin-right: 140px;
    text-wrap: nowrap;
    text-align: center;
    border-radius: 8px;
}

@media screen and (max-width: 576px) {
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .navbar, .navlink, .teams, .features{
        flex-direction: column;
    }
    .team-img-cotainer, .fact-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 40px;
    }
}

